<% include ../header %>

 	<!-- Navigation -->
	<% include ../navbar %>
	
	<!-- Page Content -->
	<div class="container">
		<% include maps %>
		<% include contactform %>
		<% include ../footer %>
	</div>
	<!-- /.container -->
	<!--My script -->
    <script type="text/javascript" src="../../public/js/contact.js"></script>
<% include ../script %>