<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="../../public/img/location_pictures/location/location_1/location_1.jpg" style="width:750px;height:500px;" alt="Cơm Tấm Sườn - Ông Già Galaxy">
                </div>
                <div class="item">
                    <img class="img-responsive" src="../../public/img/location_pictures/location/location_1/location_2.jpg" style="width:750px;height:500px;" alt="Cơm Tấm Sườn - Ông Già Galaxy">
                </div>
                <div class="item">
                    <img class="img-responsive" src="../../public/img/location_pictures/location/location_1/location_3.jpg" style="width:750px;height:500px;" alt="Cơm Tấm Sườn - Ông Già Galaxy">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <h3><b>Quán Gà Cơ Bắp - Chuyên Các Món Gà</b></h3>
        <p>Quán ăn Việt Nam</p>
        <span class=""><i class="fa fa-paper-plane"></i></span>
        <a  href="#map" rel="noopener">237/44 Trần Văn Đang, P. 11,  Quận 3, TP. HCM </a>
        <br>
        <span class=""><i class="fa fa-clock-o"></i> Thời gian: 7:00 - 22:00</span>
        <br />
        <span class=""><i class="fa fa-money"></i> 30.000 - 55.000</span>
        <h3><b>Menu</b></h3>
        <ul>
          <li><p>MÓN ĂN</p>
          <ul>
            <li>Bò né trứng non</li>
            <li>Cánh gà chiên bơ</li>
            <li>Cánh gà ta tỏi</li>
            <li>Chân gà chiên nước mắm</li>
            <li>Chân gà quái thú</li>
            <li>Chân gà rang muối</li>
            <li>Cơm gà ta xé</li>
            <li>Cơm gà ta quay</li>
            <li>Lòng gà trứng non</li>
            <li>Miến gà ta xé</li>
          </ul>
          </li>
          <li><p>GIẢI KHÁT</p>
          <ul>
            <li>7Up</li>
            <li>Coca Cola</li>
            <li>Nước suối</li>
            <li>Sâm bí đao</li>
            <li>Sâm bông cúc</li>
            <li>Sài gòn đỏ</li>
          </ul>
          </li>
          </ul>
    </div>

</div>
<!-- /.row -->
