                <!-- Comments Form -->
                <div class="well">
                    <h4>Thảo luận:</h4>
                    <form role="form" action="/blog/post/8" method="post">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="Btncomment">Đăng</button>
                    </form>
                </div>

                <hr>