<div class="row">
  <h2>Bản đồ</h2>
  <div class="container" id="maps" >
    <div class="row">
          <!-- Map Column -->
          <div class="col-md-offset-2 col-md-8" id="maps_iframe">
                  <!-- Embedded Google Map -->
                  <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=86%20Ng%C3%B4%20%C4%90%E1%BB%A9c%20K%E1%BA%BF%2C%20Ph%C6%B0%E1%BB%9Dng%20B%E1%BA%BFn%20Nghe%2C%20Q1%2C%20TP.HCM&key=AIzaSyB7o4nDiGfqDsEuMrg2iJEPH9F8RqWXYf4" allowfullscreen></iframe>
          </div>
    </div>
  </div>
</div>
