<% include ../../../header %>
 	<!-- Navigation -->
	<% include ../../../navbar %>
	
	<!-- Page Content -->
	<div class="container">
		<% include heading %>
		<!-- Content Row -->
		<div class="row">
			<div class="col-lg-8">
				<!-- Blog Post -->
				<% include content %>
				<!-- Blog Comments -->
				<% include ../commentForm %>
				<hr>
				<!-- Posted Comments -->
				<% include comment %>
			</div>
			<% include ../widget %>
		</div>
		<hr>
		<% include ../../../footer %>
	</div>
	<!-- /.container -->
	
<% include ../../../script %>