<% include header %>
<%#- include('user/show') %>
 	<!-- Navigation -->
	<% include navbar %>
	<!-- Page Content -->
	<div class="container">
		<% include 404 %>
		<% include footer %>
	</div>
	<!-- /.container -->
	
<% include script %>