
 <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-offset-10">
                    <p>DHKL Dev Team &copy; UIT HCM</p>
                </div>
            </div>
        </footer>