
    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>
    
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
        <script>
    $(document).ready(function(){
            $(".pic-click").click(function(){
            console.log("test");
            var url = $(this).attr("src");
            
            $("#big-pic").attr("src",url);
            console.log($("#big-pic").attr("src"));
        });
          });

    </script>

</body>

</html>