<% include ../header %>

 	<!-- Navigation -->
	<% include ../navbar %>
	
	<!-- Header Carousel -->
	<%- include header_2 %>
	<!-- Page Content -->
	<div class="container">
		<% include pagecontent %>
		<% include ../footer %>
	</div>
	<!-- /.container -->
	
	<!--My script -->
    <script type="text/javascript" src="../public/js/indexPage.js"></script>
<% include ../script %>