
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Địa điểm
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="">
                            <img class="myimg img-responsive" src="../../public/img/index/store/1.jpg">
                        </a>                        
                    </div>                
                    <div class="panel-heading">
                        <a class="store-label" href="">SGV Vietnam - Ẩm Thực Đa Quốc Gia</a>
                        <p class="addr-label">339D Nguyễn Cảnh Chân, Phường Cầu Kho,  Quận 1, TP. HCM</p>
                        <p>
                            <span></span>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="">
                            <img class="myimg img-responsive" src="../../public/img/index/store/2.jpg">
                        </a>                        
                    </div>                
                    <div class="panel-heading">
                        <a class="store-label" href="">Con Gà Nướng - Thành Thái</a>
                        <p class="addr-label">152/7 Thành Thái, P. 12, Quận 10, TP. HCM</p>
                        <p>
                            <span></span>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="">
                            <img class="myimg img-responsive" src="../../public/img/index/store/3.jpg">
                        </a>                        
                    </div>                
                    <div class="panel-heading">
                        <a class="store-label" href="">Meet Fresh - Phan Xích Long</a>
                        <p class="addr-label">181 Phan Xích Long, P. 7, Quận Phú Nhuận, TP. HCM</p>
                        <p>
                            <span></span>
                        </p>
                    </div>

                </div>
            </div>            

        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Blog</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">  
                        <a href="/blog/post/1">
                            <img class="img-responsive img-portfolio img-hover" src="../../public/img/index/blog/1.jpg" alt="">
                        </a>
                    <div class="panel-heading">
                        <a class="store-label blog-header" href="/blog/post/1">Top 3 quán trà sữa tại HCM</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 blog-div">
                <div class="panel panel-default">
                <a href="/blog/post/2">
                    <img class="img-responsive img-portfolio img-hover" src="../../public/img/index/blog/2.jpg" alt="">
                </a>
                <div class="panel-heading">
                    <a class="blog-header store-label" href="/blog/post/2">Những quán Bún Bò Huế ngon nhất HCM</a>
                </div>    
                </div>            
            </div>
            <div class="col-md-4 col-sm-6 blog-div">
                <div class="panel panel-default"> 
                <a href="/blog/post/3">
                    <img class="img-responsive img-portfolio img-hover" src="../../public/img/index/blog/3.jpg" alt="">
                </a>
                <div class="panel-heading">
                    <a class="store-label" href="">Những quán bánh Flan không thể bỏ qua</a>
                </div>                
            </div>

            </div>
 
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Review nguời dùng</h2>
            </div>

            <div class="col-md-6">
                <dir class="review-user">
                    <div class="media user-ava">
                        <a class="pull-left user-ava" href="">
                            <img class="img-circle img-responsive user-ava" src="../../public/img/index/user_comment/u1_ava.jpg">
                        </a>
                        <dir class="media-body name">
                            <h4 class="media-heading">Ryan Trần
                                <small>1/6/2017 9:30PM</small>                            
                            </h4>
                        </dir>                    
                    </div>
                    <div>
                        <p class="store-review" ">Trà sữa ngô đức kế</p>
                    </div>
                    <div>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi 
                        </p>
                    </div>
                </dir>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>
