
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Địa điểm
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/location/location/5">
                            <img class="myimg img-responsive" src="../../public/img/index/store/1.jpg">
                        </a>                        
                    </div>                
                    <div class="panel-heading">
                        <a class="store-label" href="/location/location/5">SGV Vietnam - Ẩm Thực Đa Quốc Gia</a>
                        <p class="addr-label">339D Nguyễn Cảnh Chân, Phường Cầu Kho,  Quận 1, TP. HCM</p>
                        <p>
                            <span></span>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/location/location/9">
                            <img class="myimg img-responsive" src="../../public/img/index/store/2.jpg">
                        </a>                        
                    </div>                
                    <div class="panel-heading">
                        <a class="store-label" href="/location/location/9">Con Gà Nướng - Thành Thái</a>
                        <p class="addr-label">152/7 Thành Thái, P. 12, Quận 10, TP. HCM</p>
                        <p>
                            <span></span>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/location/location/13">
                            <img class="myimg img-responsive" src="../../public/img/index/store/3.jpg">
                        </a>                        
                    </div>                
                    <div class="panel-heading">
                        <a class="store-label" href="/location/location/13">Meet Fresh - Phan Xích Long</a>
                        <p class="addr-label">181 Phan Xích Long, P. 7, Quận Phú Nhuận, TP. HCM</p>
                        <p>
                            <span></span>
                        </p>
                    </div>

                </div>
            </div>            

        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Blog</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">  
                        <a href="/blog/post/1">
                            <img class="img-responsive img-portfolio img-hover" src="../../public/img/index/blog/1.jpg" alt="">
                        </a>
                    <div class="panel-heading">
                        <a class="store-label blog-header" href="/blog/post/1">Top 3 quán trà sữa tại HCM</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 blog-div">
                <div class="panel panel-default">
                <a href="/blog/post/2">
                    <img class="img-responsive img-portfolio img-hover" src="../../public/img/index/blog/2.jpg" alt="">
                </a>
                <div class="panel-heading">
                    <a class="blog-header store-label" href="/blog/post/2">Những quán Bún Bò Huế ngon nhất HCM</a>
                </div>    
                </div>            
            </div>
            <div class="col-md-4 col-sm-6 blog-div">
                <div class="panel panel-default"> 
                <a href="/blog/post/3">
                    <img class="img-responsive img-portfolio img-hover" src="../../public/img/index/blog/3.jpg" alt="">
                </a>
                <div class="panel-heading">
                    <a class="store-label" href="">Những quán bánh Flan không thể bỏ qua</a>
                </div>                
            </div>

            </div>
 
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Top Review</h2>
            </div>

            <div class="col-md-6">
                <div class="review-user">
                    <div class="media user-ava">
                        <a class="pull-left user-ava" href="">
                            <img class="img-circle img-responsive user-ava" src="../../public/img/index/user_comment/u1_ava.jpg">
                        </a>
                        <div class="media-body name">
                            <h4 class="media-heading">Ryan Trần
                                <small>1/6/2017 9:30PM</small>                            
                            </h4>
                        </div>                    
                    </div>
                </div>
                <div>
                        <a href="location/location/2">
                            <p class="store-review">Trà sữa R&B ngô đức kế</p>
                        </a>
                </div>        
             
                
                    <div class="comment-block">
                            Bạn mình khoái trà sữa ở đây nè nên hẹn mình đi uống cùng. <br>

                            Mình vào quán là trời hơi mưa nên quán khá đông khách, mà nhân viên đông, phục vụ nhanh nên order và chờ lấy nước cũng không lâu lắm <br>

                            Mình lần nào vào cũng gọi trà sữa ngũ cốc cream + trân châu dragon hết,75k thì là tuyệt đỉnh luôn nha mấy bạn. lớp kem sữa dày mà bao béo, trân trâu drangon là độc quyền nha, ngon, ma bùi bùi đậu đỏ.
                            <br>
                            Mình gọi thử món mới là trà xanh đào nha, trong này có sẵn trân châu trắng luôn, giá khá ổn 46k thôi mà uống hơi bị ngon, trân châu trắng bên này ngang ngữa với gongcha luôn nha. vị chua chua ngọt ngọt, thơm nhẹ nên dễ uống lắm.                    
                    </div>
                    <div>
                        <div class="col-sm-2 small-pic ">
                    
                            <img class="img-responsive pic-click" src="../../public/img/index/user_comment/u1_1.jpg">

                        </div>
                        <div class="col-sm-2 small-pic">
                            <img class="img-responsive  pic-click" src="../../public/img/index/user_comment/u1_2.jpg">
                        </div>   
                        <div class="col-sm-2 small-pic ">
                            <img class="img-responsive pic-click" src="../../public/img/index/user_comment/u1_3.jpg">
                        </div>
                        <div class="col-sm-2 small-pic ">
                            <img class="img-responsive pic-click" src="../../public/img/index/user_comment/u1_4.jpg">
                        </div>
                        <div class="col-sm-2 small-pic ">
                            <img class="img-responsive pic-click" src="../../public/img/index/user_comment/u1_5.jpg">
                        </div>                        
                   

                    </div>
            </div>

            <div  class="col-md-6">
                <img id="big-pic" class="img-responsive comment-img" src="../../public/img/index/user_comment/u1_1.jpg" alt="">

            </div>

        </div>
        <!-- /.row -->
        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-info">Chúng tôi cung cấp đội ngũ giao hàng chuyên nghiệp và nhanh nhất TP HCM cùng các món ăn ngon từ nhiều cửa hiệu chất lượng.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-success btn-block" href="/services">Đặt món ngay để được giảm 10% !!!</a>
                </div>
            </div>
        </div>

