@font-face {
  font-family: 'Alina';
  src: url('Alina.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Streetwear';
  src: url('Streetwear.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.logo{
	font-family: "Streetwear";
	font-size: 30px;
	color: white !important;
}