<% include ../header %>
 	<!-- Navigation -->
	<% include ../../../navbar %>

	<!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <% include headingBreadcrumbs %>

    <!-- Portfolio Item Row -->
    <% include portfolioItemRow %>

    <!-- Related Projects Row -->
    <% include relatedProject %>

		<!-- Tag Row -->
		<% include tag %>

		<!-- Bản đồ -->
		<% include locationmap %>

    <!-- Footer-->
   <% include ../../../footer %>
</div>

<% include ../script %>
