<!-- Related Projects Row -->

    <h2>Hình Ảnh</h2>
	<div class="row grid">
        <div class="col-xs-4 thumbnail">
            <a href="../../public/img/location_pictures/location/location_8/location_4.jpg">
              <img src="../../public/img/location_pictures/location/location_8/location_4.jpg" /></a>
        </div>
        <div  class="col-xs-4 thumbnail">
          <a href="../../public/img/location_pictures/location/location_8/location_1.jpg">
            <img src="../../public/img/location_pictures/location/location_8/location_1.jpg" />
          </a>
        </div>
        <div class="col-xs-4 thumbnail">
          <a href="../../public/img/location_pictures/location/location_8/location_2.jpg">
            <img src="../../public/img/location_pictures/location/location_8/location_2.jpg" />
          </a>
        </div>
        <div  class="col-xs-4 thumbnail">
            <a href="../../public/img/location_pictures/location/location_8/location_3.jpg">
              <img src="../../public/img/location_pictures/location/location_8/location_3.jpg" />
            </a>
        </div>
        <div class="col-xs-4 thumbnail">
            <a href="../../public/img/location_pictures/location/location_8/location_5.jpg">
              <img src="../../public/img/location_pictures/location/location_8/location_5.jpg" />
            </a>
        </div>
        <div class="col-xs-4 thumbnail">
            <a href="../../public/img/location_pictures/location/location_8/location_6.jpg">
              <img src="../../public/img/location_pictures/location/location_8/location_6.jpg" />
            </a>
        </div>

	</div>

<!-- /.row -->
