<div class="row">
  <h2>Bản đồ</h2>
  <div class="container" id="maps" >
          <div class="row">
          <!-- Map Column -->
              <div class="col-md-offset-2 col-md-8" id="maps_iframe">
                  <!-- Embedded Google Map -->
                  <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=515%20An%20D%C6%B0%C6%A1ng%20V%C6%B0%C6%A1ng%2C%20P.%208%2C%20Qu%E1%BA%ADn%205%2C%20TP.%20HCM&key=AIzaSyB7o4nDiGfqDsEuMrg2iJEPH9F8RqWXYf4" allowfullscreen></iframe>
              </div>
          </div>
  </div>
</div>
