				<!-- Blog Post -->
				<hr>
				<!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Posted on August 24, 2013 at 9:00 PM</p>

                <hr>

                <!-- Post Content -->
                <p class="lead">Ngày tôi còn nhỏ, nhà tôi sống trong một con hẻm bé tẹo, chỉ cần đi thêm một đoạn là đến hẻm cùng. Vậy nên bất cứ hàng gánh nào đi ngang qua cũng đều phải vòng lại thêm một lần nữa để ra lại đầu hẻm. Con bé tôi ngày nào cũng thò đầu ra cửa sổ ngóng rồi chờ mấy gánh hàng rong vòng lại là lập tức mè nheo ba mua cho. Những món quà vặt thời ấy rẻ lắm, và món ba hay mua cho con gái cưng là những chén sương sa nhỏ thơm mát mà cô gánh hàng rong ngày nào đi ngang nhà tôi cũng không quên rao thật to rồi nhoẻn miệng cười thật tươi. Bởi cô biết ngay sau đó sẽ có ngay con bé thò đầu ra ngoài cửa sổ tít mắt cười lại với cô rồi chạy lon ton ra nhận lấy từ tay cô một chén sương sa mát lạnh. Sương sa ngày trước được đựng trong một chiếc chén nhôm nhỏ, méo mó vì luôn được đặt trong chiếc tủ kính be bé cùng với những tảng nước đá to để giữ lạnh. Khi thì sương sa dừa, khi là sương sa cà phê, còn những chén sương sa màu mè đủ hình dáng thì ba lại không cho ăn vì sợ phẩm màu hóa học.<br>
                Khi tôi trưởng thành, người ta không còn gọi là sương sa nữa, họa may nếu có gọi thì rất ít, đa số gọi những chén sương sa đó – ngày nay được đa dạng hóa trong quá trình chế biến - là rau câu hoặc thạch. Theo tìm hiểu thì tôi được biết rằng sương sa được làm từ một vài loại rong tảo biển không độc có tính chất như sương sâm, sương sáo được sử dụng phổ thông ở dạng phơi khô. Khi chế biến sẽ kết đông thành khối có màu trắng đục. Mỗi loại lá đều cho thành phẩm có mùi thơm riêng, đậm đà nhưng không nhuộm màu được. Loại sương sa thông dụng hay nấu bằng nhiều loại rong tảo khác nhau nhưng nếu chỉ sử dụng một loại tảo biển thì có tên Việt Nam là rau câu, có tên riêng là Agar, sẽ cho thành phẩm cứng, trong và ngon hơn. Rau câu Agar ở Việt Nam được sử dụng phổ biến nhất ở dạng bột mịn. Nhưng chất lượng thành phẩm có đạt yêu cầu kết đông cứng giòn và trong đẹp hay không là tùy kỹ thuật chế biến, chất lượng vật liệu của mỗi thương hiệu. Đây là khuyết điểm chung của rau câu dạng bột bán trên thị trường. Chính vì vậy mà rất khó có thể có một công thức chuẩn để trình bày trong quá trình nấu rau câu. Rau câu bây giờ được phục vụ rộng rãi trên thị trường đầy sáng tạo với đủ loại mùi vị và hương thơm phù hợp thị hiếu khách hàng ngày càng cao. Có lẽ cũng không còn khái niệm “toàn màu hóa học” như ba tôi căn dặn thuở bé, bởi rau câu bây giờ chất lượng hơn nhiều và đảm bảo vấn đề an toàn thực phẩm trên hết.
                </p>
                <ol>
                        <li class="lead">Bánh flan rau câu dừa Sấm Phụng</li>
                        <p class="contentsize">
                                Điển hình là món Bánh flan rau câu dừa tại Sấm Phụng. Hương vị của món này không thể chê vào đâu được với vị bùi bùi của dừa hòa quyện cùng vị beo béo của phần flan bên trong cộng vào quả dừa đã được ướp lạnh sẵn. Một quả có thể ăn được từ 5 – 10 người, bởi nếu ăn nhiều sẽ dễ ngấy. Bên cạnh đó, rau câu 7 màu cũng được khách hàng lựa chọn khi đến quán.<br>
                                <img class="img-responsive" src="../../../public/img/blog/post3.1.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post3.2.jpg" alt=""><br>
                        </p>
                        <li class="lead">Rau câu Quỳnh Anh</li>
                        <p class="contentsize">
                                Với loại hình phục vụ mang về, có giao hàng tận nơi hỗ trợ khách hàng, Rau Câu Quỳnh Anh với thực đơn rau câu vô cùng đa dạng từ rau câu việt quất hạt sữa chua, rau câu chanh dây hạt sữa chua, rau câu phúc bồn tử hạt sữa chua đến rau câu trà xanh nhân bánh flan luôn khiến khách hàng mê mẩn với hương vị đầy sáng tạo khi chế biến rau câu. Ngoài rau câu, Quỳnh Anh còn có bánh flan dâu, bánh flan chocolate thơm ngon, hấp dẫn mà lại không bị ngấy.<br>
                                <img class="img-responsive" src="../../../public/img/blog/post3.3.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post3.4.jpg" alt=""><br>
                        </p>
                </ol>

                <hr>