				<!-- Blog Post -->
				<hr>
				<!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Posted on August 24, 2013 at 9:00 PM</p>
                <hr>

                <!-- Post Content -->
                <p class="lead">Chỉ với một chút bún, thịt bò bắp, giò heo và thêm một vài muỗng lớn nước dùng màu đỏ đặc trưng mà món bún bò Huế đã trở thành một đặc sản ngon và mang đậm chất Huế. Từ Huế, món ăn này đã len lỏi vào mọi ngóc ngách của mọi con hẻm trên khắp cả nước và nằm trong danh sách 12 món ăn đạt kỷ lục ẩm thực châu Á. Ở Sài Gòn bạn không khó để tìm cho mình một quán bún bò nhưng có chắc nó ngon, mang đúng phong vị Huế và khiến bạn hài lòng? Cùng điểm qua và thử xem những quán bún bò nào được đánh giá cao về chất lượng nhé!</p>
                <ol>
                        <li class="lead">Bún bò Sông Hương</li>
                        <p class="contentsize">
                                Mang tên dòng sông chảy qua giữ lòng thành phố Huế mộng mơ, xinh đẹp, quán bún Sông Hương với 6 chi nhánh trên khắp Sài Gòn đã mang lại cho thực khách một món ăn đậm đà xứ Huế. Giống như Slogan của quán: “Bún bò Huế Sông Hương – Cảm nhận sự khác biệt”, món bún bò nơi đây được đánh giá là ngon và hợp túi tiền.  Tô bún bò khá đầy đặn, thịt mềm, giò heo ngon ăn ngập chân răng, nước dùng đậm đà vừa miệng. Rau cũng đảm bảo độ tươi, sạch cần thiết.
                                <img class="img-responsive" src="../../../public/img/blog/post2.1.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post2.2.jpg" alt=""><br>
                        </p>
                        <li class="lead">Bún Bò Gánh</li>
                        <p class="contentsize">
                                Nằm trên đường Lý Chính Thắng, Bún Bò Gánh nhìn từ bên ngoài người ta cứ ngỡ là một nhà hàng hơn là một quán ăn. Không gian thoáng mát, mộc mạc y như tên gọi của nó và chất lượng quán thực sự được liệt vào <strong>những quán bún bò Huế ngon ở Sài Gòn.</strong>
                                <img class="img-responsive" src="../../../public/img/blog/post2.3.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post2.4.jpg" alt=""><br>
                        </p>
                </ol>

                <hr>