<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="../../public/img/location_pictures/page_2/location_pic_1.jpg">
          <img src="../../public/img/location_pictures/page_2/location_pic_1.jpg" width="100%" height="100%">
        </a>
        <h3>
            <a  href="/location/location/10">Lẩu Gà Tiềm Ớt Hiểm Chicken Kitchen - Delivery Only</a>
        </h3>
        <p>796/19B Sư Vạn Hạnh Nối Dài, P. 12,  Quận 10, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_2/location_pic_2.jpg">
        <img src="../../public/img/location_pictures/page_2/location_pic_2.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a  href="/location/location/11">Gà Nướng Ò Ó O - Lê Văn Sỹ</a>
      </h3>
        <p>220/58 Lê Văn Sỹ, P.14,  Quận 3, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_2/location_pic_3.jpg">
        <img src="../../public/img/location_pictures/page_2/location_pic_3.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a  href="/location/location/12">Uncle Tea - Trà Đài Loan - Đinh Tiên Hoàng</a>
      </h3>
        <p>23 Đinh Tiên Hoàng, P. Đa Kao,  Quận 1, TP. HCM</p>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_2/location_pic_4.jpg">
        <img src="../../public/img/location_pictures/page_2/location_pic_4.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a  href="/location/location/13">KIMBONG - Toast & Drink</a>
      </h3>
        <p>55 Rạch Bùng Binh,  Quận 3, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_1/location_pic_5.jpg">
        <img src="../../public/img/location_pictures/page_1/location_pic_5.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="bun-bo-o-gai-nguyen-thong" href="/location/location/5">Bún Bò O Gái - Nguyễn Thông</a>
      </h3>
        <p>Hẻm 62 Nguyễn Thông,  Quận 3, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_1/location_pic_6.jpg">
        <img src="../../public/img/location_pictures/page_1/location_pic_6.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="vi-thai-am-thuc-thai-lan" href="/location/location/6">Vị Thái - Ẩm thực Thái Lan</a>
      </h3>
        <p>466 Nguyễn Tri Phương, P. 9,  Quận 10, TP. HCM</p>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_1/location_pic_7.jpg">
        <img src="../../public/img/location_pictures/page_1/location_pic_7.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="ABMA-nem-nuong-nha-trang" href="/location/location/7">ABMA - Nem Nướng Nha Trang</a>
      </h3>
        <p>37/12 Đoàn Như Hài, P. 12,  Quận 4, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_1/location_pic_8.jpg">
        <img src="../../public/img/location_pictures/page_1/location_pic_8.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="rang-rua-he-com-ga" href="/location/location/8">Rang Rua He - Cơm Gà</a>
      </h3>
        <p>702 Nguyễn Đình Chiểu,  Quận 3, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="../../public/img/location_pictures/page_1/location_pic_9.jpg">
        <img src="../../public/img/location_pictures/page_1/location_pic_9.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="quan-ga-co-bap-chuyen-cac-mon-ga" href="/location/location/9">Quán Gà Cơ Bắp - Chuyên Các Món Gà</a>
      </h3>
        <p>237/44 Trần Văn Đang, P. 11,  Quận 3, TP. HCM</p>
    </div>
</div>
<!-- /.row -->
