<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="../../public/img/location_pictures/location/location_1/location_1.jpg" style="width:750px;height:500px;" alt="Cơm Tấm Sườn - Ông Già Galaxy">
                </div>
                <div class="item">
                    <img class="img-responsive" src="../../public/img/location_pictures/location/location_1/location_2.jpg" style="width:750px;height:500px;" alt="Cơm Tấm Sườn - Ông Già Galaxy">
                </div>
                <div class="item">
                    <img class="img-responsive" src="../../public/img/location_pictures/location/location_1/location_3.jpg" style="width:750px;height:500px;" alt="Cơm Tấm Sườn - Ông Già Galaxy">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <h3><b>Cơm Tấm Sườn - Ông già Galaxy</b></h3>
        <p>Quán ăn Việt Nam</p>
        <span class=""><i class="fa fa-paper-plane"></i></span>
        <a id="dia-chi-com-tam-suon-ong-gia-galaxy" href="" rel="noopener">236 Nguyễn Hồng Đào, Quận Tân Bình, TP.HCM </a>
        <br>
        <span class=""><i class="fa fa-clock-o"></i> Thời gian: 7:00 - 22:00</span>
        <br />
        <span class=""><i class="fa fa-money"></i> 30.000 - 55.000</span>
        <h3><b>Menu</b></h3>
        <ul>
          <li><p>SƯỜN</p>
          <ul>
            <li>Cơm sườn non ngâm mắm</li>
            <li>Cơm sườn non nướng</li>
            <li>Cơm sườn non rim</li>
          </ul>
          </li>
          <li><p>MÓN MẶN</p>
          <ul>
            <li>Cơm đùi gà nướng</li>
            <li>Cơm chả cá chiên</li>
            <li>Cơm cá lóc kho tộ</li>
            <li>Cơm thịt kho</li>
            <li>Cơm cánh gà chiên nước mắm</li>
            <li>Cơm trứng kho</li>
          </ul>
          </li>
          </ul>
    </div>

</div>
<!-- /.row -->
