        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-camera fa-4x"></i>
                </p>
                <p>2017/2/29 - 1.68M</p>
            </div>
            <div class="col-md-5">
                <a href="/blog/post/7">
                    <img class="img-responsive img-hover mythumbnail" src="../../../public/img/blog/post7-thumbnail.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="/blog/post/7">Bắt nhịp trào lưu uống trà sữa "ly thon" 660cc của teen</a>
                </h3>
                <p>bởi <a href="#">Dâu đen</a>
                </p>
                <p>Đây có thể nói là thương hiệu trà sữa đang làm mưa làm gió tại Sài Gòn, sau đợt càn quét ở Hà Nội làm giới trẻ điên đảo. Heekcaa gây ấn tượng với 2 mẫu ly đẹp mắt: ly 660cc dành cho các loại trà trái cây, thảo mộc,... trong khi kích thước cơ bản dành cho các loại trà sữa, kem cheese ngon thần sầu.</p>
                <a class="btn btn-primary btn-arrow-right" href="/blog/post/7">Xem tiếp <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-film fa-4x"></i>
                </p>
                <p>2017/2/11 - 1.2M</p>
            </div>
            <div class="col-md-5">
                <a href="/blog/post/8">
                    <img class="img-responsive img-hover mythumbnail" src="../../../public/img/blog/post8-thumbnail.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="/blog/post/8">Ngỡ ngàng với beer club có rooftop ngắm đường băng đẹp nhất Sài Gòn.</a>
                </h3>
                <p>bởi <a href="#">Sếp mercy</a>
                </p>
                <p>Dạo gần đây các beerclub có rooftop đều là có view ngắm đường phố  từ trên cao xuất hiện rất nhiều, quanh đi quẩn lại thì cũng có nhiêu đó view mà thôi. Vậy nếu bạn có một lần tới The Runway như mình thì sẽ thấy một trải nghiệm mới cực kỳ mới luôn, view ở đây vừa có thể ngắm thành phố mà còn có thể ngắm đường băng của toàn bộ sân bay luôn đó.</p>
                <a class="btn btn-primary btn-arrow-right" href="/blog/post/8">Xem tiếp <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-file-text fa-4x"></i>
                </p>
                <p>2017/1/1 - 1B</p>
            </div>
            <div class="col-md-5">
                <a href="/blog/post/9">
                    <img class="img-responsive img-hover mythumbnail" src="../../../public/img/blog/post9-thumbnail.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="/blog/post/9">Khám phá Sushi gõ cực đẹp</a>
                </h3>
                <p>bởi <a href="#">Cáo xinh đẹp</a>
                </p>
                <p>Ẩm thực Nhật nổi tiếng bởi sự đa dạng và tinh tế. Các món ăn Nhật không sử dụng quá nhiều gia vị mà tập trung làm nổi bật hương vị tự nhiên của món ăn, nhờ vậy đem đến cho thực khách những bữa ăn không chỉ đẹp mắt mà còn ngon miệng.</p>
                <a class="btn btn-primary btn-arrow-right" href="/blog/post/9">Xem tiếp <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>