        <!-- Pager -->
        <div class="row">
            <ul class="pager">
                <li class="previous"><a href="/blog/2">&larr; Trang 2</a>
                </li>
                <!--
                <li class="next"><a href="#">Newer &rarr;</a>
                </li>
                -->
            </ul>
        </div>
        <!-- /.row -->

        <hr>