				<!-- Blog Post -->
				<hr>
				<!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Đăng ngày 1/6/2017 lúc 19:00</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="../../../public/img/blog/post1-thumbnail.jpg" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">Mình rất thích những <mark> quán trà sữa ngon đẹp ở Sài Gòn</mark> vì trà sữa có lẽ là món thức uống gắn liền với thời học sinh của giới trẻ cuối 8x, 9x như mình. Chỉ với những nguyên liệu đơn giản là hồng trà hoặc lục trà pha với sữa tươi, thêm chút bột hương liệu nhiều mùi vị. Nếu ngày xưa trà sữa chỉ đơn giản có trà, sữa và trân châu thì ngày nay món thức uống ấy có phần cầu kì hơn với nào thạch trái cây, thạch phô mai, hạt thủy tinh, pudding..v.v. Các bạn trẻ ngày nay có nhiều sự lựa chọn hơn đối với những món giải khát, tuy nhiên vị trí của trà sữa chưa bao giờ bị đánh bật. Bài viết này sẽ cung cấp cho các bạn top những quán trà sữa hút khách nhất Sài Gòn hiện nay.</p>
                <ol>
                        <li class="lead">Trà sữa KOI</li>
                        <p class="contentsize">
                                Một thương hiệu trà sữa từ Singapore được rất nhiều người bạn trẻ ở Sài Gòn yêu thích. Đặc biệt nhất ở Koi có thể nói là lớp phô mai béo thơm cực thích, uống kèm với trà sữa và những loại thạch dai dai độc nhất ở quán, khiến ly trà sữa tuyệt vời hơn. <br>
                                Link đặt món: <strong class="text-primary"><a href="#">Koi Ngô Đức kế </a></strong>và <strong class="text-primary"><a href="#">Koi Saigon garden.</a></strong>
                                <img class="img-responsive" src="../../../public/img/blog/post1.1.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post1.2.jpg" alt="">
                        </p>
                        <li class="lead">Trà sữa Gong cha</li>
                        <p class="contentsize">
                                Gong Cha gần như là một câu cửa miệng của các bạn trẻ Việt khi nhắc tới trà sữa trong vòng 4 năm trở lại đây. Với chất lượng trà cao cấp như Alisan, Oolong, trà đen và trà xanh nguyên chất cùng với lớp kem sánh mịn, beo béo tan đều trong trong miệng, Gong Cha đã khiến cho nhiều tín đồ bấn loạn và thậm chí là “nghiện” hương vị tuyệt vời này. Bạn đã sẵn sàng để cầm trên tay một ly Gong Cha tuyệt hảo này chưa.<br>
                                Link đặt món: <strong><a href="#"> Hồ Tùng Mậu - Phan Xích Long - An Dương Vương</a></strong> và <strong><a href="#">Nguyễn Đình Chiểu</a></strong>.
                                <img class="img-responsive" src="../../../public/img/blog/post1.3.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post1.4.jpg" alt="">
                        </p>
                        <li class="lead">Trà sữa Uncle Tea</li>
                        <p class="contentsize">
                                Để sở hữu một bình trà sữa vừa ngon mà lại còn đẹp thế này bà con hội ghiền trà sữa mấy ngày qua phải xếp hàng dài cả chục thước đó nha. Giá cho một bình trà sữa dao động từ 33k trở lên. Trà sữa Đài Loan được pha rất vừa miệng, trà thơm, kem machiato béo mặn uống bao kích thích. Uống xong vác cái bình cực dễ thương này đi luôn, không ai đòi lại đâu.<br>
                                Link đặt món: <strong><a href="#">Nguyễn Trãi - Trần Hưng Đạo.</a></strong>
                                <img class="img-responsive" src="../../../public/img/blog/post1.5.jpg" alt=""><br>
                                <img class="img-responsive" src="../../../public/img/blog/post1.6.jpg" alt="">
                        </p>

                </ol>
                

                <hr>