<div class="row" id = "map">
  <h2>Danh mục</h2>
  <a href="#">Ăn vặt  </a>
  <a href="#">Ăn gia đình  </a>
  <a href="#">Hẹn hò  </a>
  <a href="#">BBQ-Nướng  </a>
  <a href="#">Ăn gia đình  </a>
  <a href="#">Họp nhóm  </a>
  <a href="#">Đãi tiệc  </a>
</div>
