<div class="row">
  <h2>Bản đồ</h2>
  <div class="container" id="maps" >
          <div class="row">
          <!-- Map Column -->
              <div class="col-md-offset-2 col-md-8" id="maps_iframe">
                  <!-- Embedded Google Map -->
                  <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Uncle%20Tea%20-%20Tr%C3%A0%20%C4%90%C3%A0i%20Loan%20-%20%C4%90inh%20Ti%C3%AAn%20Ho%C3%A0ng&key=AIzaSyB7o4nDiGfqDsEuMrg2iJEPH9F8RqWXYf4" allowfullscreen></iframe>
              </div>
          </div>
  </div>
</div>
