  <% include ../header %>
 	<!-- Navigation -->
	<% include ../../navbar %>

	<!-- Page Content -->
  <div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <% include HeadingBreadcrumbs %>

      <!-- Project Row -->
      <% include projectRow %>

      <!-- Pagination -->
      <% include pagination %>

      <!-- Footer-->
     <% include ../../footer %>
  </div>

  <% include ../script %>
