<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="/location/location/1">
          <img src="../../public/img/location_pictures/page_1/location_pic_1.jpg" width="100%" height="100%">
        </a>
        <h3>
            <a id="com-tam-suon-ong-gia-galaxy" href="/location/location/1">Cơm tấm sườn - Ông già galaxy</a>
        </h3>
        <p>236 Nguyễn Hồng Đào, Quận Tân Bình, TP.HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/2">
        <img src="../../public/img/location_pictures/page_1/location_pic_2.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="tra-sua-R&B-tea-ngo-duc-ke" href="/location/location/2">Trà sữa R&B tea - Ngô  Đức Kế</a>
      </h3>
        <p>86 Ngô Đức Kế, Phường Bến Nghe, Q1, TP.HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/3">
        <img src="../../public/img/location_pictures/page_1/location_pic_3.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="buddy-chicken" href="/location/location/3">Buddy Chicken - Chicken, Drinks & Hot Foods</a>
      </h3>
        <p>80 Pasteur, P. Bến Nghé,  Quận 1, TP. HCM</p>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/4">
        <img src="../../public/img/location_pictures/page_1/location_pic_4.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="pha-lau-thailand" href="/location/location/4">Phá lấu ThaiLand</a>
      </h3>
        <p>515 An Dương Vương, P. 8,  Quận 5, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/5">
        <img src="../../public/img/location_pictures/page_1/location_pic_5.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="bun-bo-o-gai-nguyen-thong" href="/location/location/5">Bún Bò O Gái - Nguyễn Thông</a>
      </h3>
        <p>Hẻm 62 Nguyễn Thông,  Quận 3, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/6">
        <img src="../../public/img/location_pictures/page_1/location_pic_6.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="vi-thai-am-thuc-thai-lan" href="/location/location/6">Vị Thái - Ẩm thực Thái Lan</a>
      </h3>
        <p>466 Nguyễn Tri Phương, P. 9,  Quận 10, TP. HCM</p>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/7">
        <img src="../../public/img/location_pictures/page_1/location_pic_7.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="ABMA-nem-nuong-nha-trang" href="/location/location/7">ABMA - Nem Nướng Nha Trang</a>
      </h3>
        <p>37/12 Đoàn Như Hài, P. 12,  Quận 4, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/8">
        <img src="../../public/img/location_pictures/page_1/location_pic_8.jpg" width="100%" height="100%">
      </a>
      <h3>
          <a id="rang-rua-he-com-ga" href="/location/location/8">Rang Rua He - Cơm Gà</a>
      </h3>
        <p>702 Nguyễn Đình Chiểu,  Quận 3, TP. HCM</p>
    </div>
    <div class="col-md-4 img-portfolio">
      <a href="/location/location/9">
        <img src="../../public/img/location_pictures/page_1/location_pic_9.jpg" width="100%" height="228px">
      </a>
      <h3>
          <a id="quan-ga-co-bap-chuyen-cac-mon-ga" href="/location/location/9">Quán Gà Cơ Bắp - Chuyên Các Món Gà</a>
      </h3>
        <p>237/44 Trần Văn Đang, P. 11,  Quận 3, TP. HCM</p>
    </div>
</div>
<!-- /.row -->
