        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-glass fa-4x"></i>
                </p>
                <p>2017/6/1 - 264.1k</p>
            </div>
            <div class="col-md-5">
                <a href="/blog/post/1">
                    <img class="img-responsive img-hover mythumbnail" src="../../../public/img/blog/post1-thumbnail.jpg" alt="KOI machiato">
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="/blog/post/1">Top 3 quán trà sữa tại HCM</a>
                </h3>
                <p>bởi <a href="#">Khoai Lang</a>
                </p>
                <p>Mình rất thích những quán trà sữa ngon đẹp ở Sài Gòn vì trà sữa có lẽ là món thức uống gắn liền với thời học sinh của giới trẻ cuối 8x, 9x như mình. Chỉ với những nguyên liệu đơn giản là hồng trà hoặc lục trà pha với sữa tươi, thêm chút bột hương liệu nhiều mùi vị. Nếu ngày xưa trà sữa chỉ đơn giản có trà, sữa và trân châu thì ngày nay món thức uống ấy có phần cầu kì hơn với nào thạch trái cây, thạch phô mai, hạt thủy tinh, pudding..v.v.</p>
                <a class="btn btn-primary btn-arrow-right" href="/blog/post/1">Xem tiếp <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-cutlery fa-4x"></i>
                </p>
                <p>2017/5/27 - 198.5k</p>
            </div>
            <div class="col-md-5">
                <a href="/blog/post/2">
                    <img class="img-responsive img-hover mythumbnail" src="../../../public/img/blog/post2-thumbnail.PNG" alt="Bún bò nè">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="/blog/post/2">Những quán Bún Bò Huế ngon nhất Sài thành</a>
                </h3>
                <p>bởi <a href="#">Bé háu ăn</a>
                </p>
                <p>Chỉ với một chút bún, thịt bò bắp, giò heo và thêm một vài muỗng lớn nước dùng màu đỏ đặc trưng mà món bún bò Huế đã trở thành một đặc sản ngon và mang đậm chất Huế. Từ Huế, món ăn này đã len lỏi vào mọi ngóc ngách của mọi con hẻm trên khắp cả nước và nằm trong danh sách 12 món ăn đạt kỷ lục ẩm thực châu Á. Ở Sài Gòn bạn không khó để tìm cho mình một quán bún bò nhưng có chắc nó ngon, mang đúng phong vị Huế và khiến bạn hài lòng? Cùng điểm qua và thử xem những quán bún bò nào được đánh giá cao về chất lượng nhé!</p>
                <a class="btn btn-primary btn-arrow-right" href="/blog/post/2">Xem tiếp <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-thumbs-o-up fa-spin fa-4x fa-fw"></i>
                </p>
                <p>2017/5/17 - 306k</p>
            </div>
            <div class="col-md-5">
                <a href="/blog/post/3">
                    <img class="img-responsive img-hover mythumbnail" src="../../../public/img/blog/post3-thumbnail.jpg" alt="Bánh flan nè">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="/blog/post/3">Những quán bánh Flan không thể bỏ qua</a>
                </h3>
                <p>bởi <a href="#">Linh Dạ</a>
                </p>
                <p>Ngày tôi còn nhỏ, nhà tôi sống trong một con hẻm bé tẹo, chỉ cần đi thêm một đoạn là đến hẻm cùng. Vậy nên bất cứ hàng gánh nào đi ngang qua cũng đều phải vòng lại thêm một lần nữa để ra lại đầu hẻm. Con bé tôi ngày nào cũng thò đầu ra cửa sổ ngóng rồi chờ mấy gánh hàng rong vòng lại là lập tức mè nheo ba mua cho. Những món quà vặt thời ấy rẻ lắm, và món ba hay mua cho con gái cưng là những chén sương sa nhỏ thơm mát mà cô gánh hàng rong ngày nào đi ngang nhà tôi cũng không quên rao thật to rồi nhoẻn miệng cười thật tươi. Bởi cô biết ngay sau đó sẽ có ngay con bé thò đầu ra ngoài cửa sổ tít mắt cười lại với cô rồi chạy lon ton ra nhận lấy từ tay cô một chén sương sa mát lạnh. Sương sa ngày trước được đựng trong một chiếc chén nhôm nhỏ, méo mó vì luôn được đặt trong chiếc tủ kính be bé cùng với những tảng nước đá to để giữ lạnh. Khi thì sương sa dừa, khi là sương sa cà phê, còn những chén sương sa màu mè đủ hình dáng thì ba lại không cho ăn vì sợ phẩm màu hóa học.</p>
                <a class="btn btn-primary btn-arrow-right" href="/blog/post/3">Xem tiếp <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>