<% include ../header %>
 	<!-- Navigation -->
	<% include ../../navbar %>
	
	<!-- Page Content -->
	<div class="container">
		<% include subheader %>
		<% include blogPost %>
		<% include pager %>
		<% include ../../footer %>
	</div>
	<!-- /.container -->
	
<% include ../script %>