        <!-- Pager -->
        <div class="row">
            <ul class="pager">
            <!--
                <li class="previous"><a href="#">&larr; Older</a>
                </li>
            -->
                <li class="next"><a href="/blog/2">Trang 2 &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- /.row -->

        <hr>