<% include header %>
	
 	<!-- Navigation -->
	<% include ../navbar %>

	<!-- Page Content -->
	<div data-role="page" class="container">
		<!-- Page Heading/Breadcrumbs -->
		<% include HeadingBreadcrumbs %>

		<!-- Image Header -->
		<% include ImageHeader %>

		<!-- Service Panels -->
		<% include ServicePanels %>

		<!-- Service Tabs -->
		<% include ServiceTabs %>

		<!-- Service List -->
		<% include ServiceList %>	

		<!-- Panels maps -->
		<% include servicemaps %>	
		<!-- Footer -->
		<% include ../footer %>
	</div>
	<!-- /.container -->

	

	<!-- Form dat mon -->
	<% include FormDatMon %>
	
	

	<!--My script -->

<% include script %>