<% include ../header %>
	<link rel="stylesheet" type="text/css" href="../../public/css/services/services.css">

 	<!-- Navigation -->
	<% include ../navbar %>

	<!-- Page Content -->
	<div data-role="page" class="container">
		<!-- Page Heading/Breadcrumbs -->
		<% include HeadingBreadcrumbs %>

		<!-- Form dat mon -->
		<% include FormDatMon %>

		<!-- Image Header -->
		<% include ImageHeader %>

		<!-- Service Panels -->
		<% include ServicePanels %>

		<!-- Service Tabs -->
		<% include ServiceTabs %>

		<!-- Service List -->
		<% include ServiceList %>

		

		<% include ../footer %>
	</div>
	<!-- /.container -->
	
	<!--My script -->

<% include script %>