
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row" id="servicelist">
            <div class="col-lg-12">
                <h2 class="page-header">Món ăn khác</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_6.jpg"><img src="../../public/img/services_pictures/services_pic_6.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-bun-bo-o-gai" onclick="showAlert()"><h4 class="media-heading" >Bún Bò O Gái - Nguyễn Thông</h4></a>
                        <p >Hẻm 62 Nguyễn Thông, Quận 3, TP. HCM</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_7.jpg"><img src="../../public/img/services_pictures/services_pic_7.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-vi-thai-am-thuc-thai-lan" onclick="showAlert()"><h4 class="media-heading">Vị Thái - Ẩm Thực Thái Lan</h4></a>
                        <p>466 Nguyễn Tri Phương, P. 9, Quận 10, TP. HCM</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_8.jpg"><img src="../../public/img/services_pictures/services_pic_8.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-ABMA-nem-nuong-nha-trang" onclick="showAlert()"><h4 class="media-heading">ABMA - Nem Nướng Nha Trang</h4></a>
                        <p>37/12 Đoàn Như Hài, P. 12, Quận 4, TP. HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_9.jpg"><img src="../../public/img/services_pictures/services_pic_9.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-rang-rua-he-com-ga" onclick="showAlert()"><h4 class="media-heading">Rang Rua He - Cơm Gà</h4></a>
                        <p>702 Nguyễn Đình Chiểu, Quận 3, TP. HCM</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_10.jpg"><img src="../../public/img/services_pictures/services_pic_10.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-quan-ga-co-bap" onclick="showAlert()"><h4 class="media-heading">Quán Gà Cơ Bắp - Chuyên Các Món Gà</h4></a>
                        <p>237/44 Trần Văn Đang, P. 11, Quận 3, TP. HCM</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_11.jpg"><img src="../../public/img/services_pictures/services_pic_11.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-lau-ga-tiem-ot-hiem" onclick="showAlert()"><h4 class="media-heading">Lẩu Gà Tiềm Ớt Hiểm Chicken Kitchen - Delivery Only</h4></a>
                        <p>796/19B Sư Vạn Hạnh Nối Dài, P. 12, Quận 10, TP. HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_12.jpg"><img src="../../public/img/services_pictures/services_pic_12.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-ga-nuong-o-o-o-le-van-sy" onclick="showAlert()"><h4 class="media-heading">Gà Nướng Ò Ó O - Lê Văn Sỹ</h4></a>
                        <p>220/58 Lê Văn Sỹ, P.14, Quận 3, TP. HCM</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_13.jpg"><img src="../../public/img/services_pictures/services_pic_13.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-uncle-tea-tra-dai-loan-dinh-tien-hoang" onclick="showAlert()"><h4 class="media-heading">Uncle Tea - Trà Đài Loan - Đinh Tiên Hoàng</h4></a>
                        <p>23 Đinh Tiên Hoàng, P. Đa Kao, Quận 1, TP. HCM</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="../../public/img/services_pictures/services_pic_14.jpg"><img src="../../public/img/services_pictures/services_pic_14.jpg" width="50px" height="50px"></a>
                    </div>
                    <div class="media-body">
                        <a id="btn-kimbong-toast-drink" onclick="showAlert()"><h4 class="media-heading">KIMBONG - Toast & Drink</h4></a>
                        <p>55 Rạch Bùng Binh, Quận 3, TP. HCM</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <script>
            function showAlert(){
                alert("Tinh năng này đang được phát triển");
            }
        </script>