        <!-- Pager -->
        <div class="row">
            <ul class="pager">
                <li class="previous"><a href="/blog/1">&larr; Trang 1</a>
                </li>
                <li class="next"><a href="/blog/3">Trang 3 &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- /.row -->

        <hr>