<% include ../header %>

 	<!-- Navigation -->
	<% include ../navbar %>
	
	<!-- Page Content -->
	<div class="container">
		<% include about_content %>
		<% include ../footer %>
	</div>
	<!-- /.container -->
	
<% include ../script %>